/* BUTTON ------------------------------------------- */
.btn {
    margin-top: 15px;
    width: 100%;
    color: $white;
    border: none;
    padding: 10px 0;
    text-transform: uppercase;
    border-radius: 5px;
  }
  
  .default {
    background-color: $default-background;
  }
  
  .error {
    background-color: $error-background;
  }
  
  .info {
    background-color:$info-background;
  }
  
  .success {
    background-color:$success-background;
  }
  
  .warning {
    background-color:$warning-background;
  }

  