// VARIABLES ----------------------------

$headline-primary:#58e1c1;
$headline-secondary:#777;
$font-color:#777;
$link-color:#51ddfc;
$white:#fff;

$default-background:#51ddfc;
$error-background:#e4757a;
$info-background:#927bc1;
$success-background:#63cc82;
$warning-background:#fd7856;
$font-stack-primary:'Lato', sans-serif;
$breakpoint-tablet: 768px;